<appSettings >
    <add key="SmtpUserName" value="easynote@emineyenice.com" />
    <add key="SmtpPassword" value="Ankara1." />
	<add key="GoogleClientId" value="121827526552-q6ftuh1tb95qna9qjfqeh2bdn3nu12aa.apps.googleusercontent.com" />
	<add key="GoogleClientSecret" value="4mdrHrmqUMD_EvnCH2hpOFvw" />
  </appSettings>